name: "CTA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

# Required permissions for CTA Assistant workflow
permissions:
  actions: write
  contents: write # can be 'read' if signatures are in remote repository
  pull-requests: write
  statuses: write

jobs:
  CTA:
    runs-on: ubuntu-latest
    steps:
      - uses: WalletConnect/actions/github/cta-assistant@d589468690b138fc8319fb1dcfc1825b1dd5c25f
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
